:root {
    --backgroundColor: rgba(0, 67, 252, 0.493);
    --colorShadeA: rgba(0, 67, 252, 0.253);
    --colorShadeB: rgb(82, 126, 247);
    --colorShadeC: rgb(58, 107, 241);
    --colorShadeD: rgb(0, 67, 252);
    --colorShadeE: rgb(46, 101, 253);
  }
  

@font-face {
    font-family: Oliver-Regular;
    src: url('../fonts/Oliver-Regular.otf'); 
  }

body {
    margin: 0;
    font-family: Oliver-Regular;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* ----- HEADER ----- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px;
    background-color: #e2e2e285;
    font-size: 1.5vw;
}

.left-header {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 8vw;
}

.right-header {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

p {
    color: #000000;
}

p:hover {
    color: #0066ffb4; 
    cursor: pointer;
}

a:link { 
    text-decoration:none; 
}

/* ----- HISTORIQUE ----- */

#historique {
    display: none;
}

.historique {
    position: absolute;
    border: 2px solid #c5c4c4;
    box-shadow: 0 5px 10px #00000044;
    padding: .5em;
    margin-left: -.8vw;
    background-color: #FFFFFF;
}

.title-historique {
    font-size: 1vw;
}

h2 {
    font-size: .8vw;
}

/* ----- ITEM ----- */

.center-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin-top: 5em;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #c5c4c4;
    box-shadow: 0 5px 10px #00000044;
    padding: 3em;
    margin: 3em 1em;
    background-color: #e2e2e249;
    border-radius: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

.item:hover{
    cursor : pointer;
}

.Carte4 {
    margin-top: 2em;
}

.Carte5 {
    margin-top: 2em;
}

.Carte6 {
    margin-top: 2em;
}

/* ----- BUTTON ----- */

.flex-button {
    margin-top: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5vw;
      color:var(--colorShadeA);
    text-transform: uppercase;
    font-family: inherit;
    color: #FFFFFF;
  }
  
  button.big-button {
     padding: .5em 1.5em;
     border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.big-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  }